<%= render :partial => 'layouts/flash'%>

<h1>Wypożyczalnia samochodów</h1>

<p>Aby dodać nowy samochód do bazy danych wybierz w menu 'Nowy samochód'.</p>
<p>Aby dodać nowy termin do samochodu: kliknij 'lista samochodów',
nastepnie wybierz samochód i kliknij nowy termin</p>
